services:
    ecowitt-nginx:
        image: nginx:alpine
        container_name: ecowitt-nginx
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - ./html:/usr/share/nginx/html:ro
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - weather-backend-v2

    weather-backend-v2:
        build:
            context: ./backend_v2
            dockerfile: Dockerfile
        image: ecowitt-weather-backend
        container_name: weather-backend-v2
        restart: unless-stopped

        # persistent rain state lives here
        volumes:
            - ./state:/state

        expose:
            - "8889"

        ports:
            - "8889:8889"
